@import url('components/footer.css');
@import url('components/header.css');
@import url('components/card.css');

* {
  box-sizing: border-box;
}

:root {
  /*
    TODO: change color template and rename vars 
  */

  --color-background: #383838;
  --color-cat: #066163;
  --color-detail: #cdbe78;
  --color-text: #f2f2f2;

  /*
  --color-background: #417d7a;
  --color-cat: #1d5c63;
  --color-detail: #1a3c40;
  --color-text: #ede6db;
  */

  /* maybe?
 --color1: #EDE6DB;
 --color2: #417D7A;
 --color3: #1D5C63;
 --color4: #1A3C40;
 */
}

body {
  background: var(--color-text);
  padding: 0;
  margin: 0;
}

h1,
h2 {
  text-decoration: underline var(--color-detail) 0.125em;
}

.page--hide {
  display: none;
}
