@import url(./navLogo.css);
.navbar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 8vh;
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-accent);
}
