@import url(./navLogo.css);
.navbar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 8vh;
  background-color: var(--color-background);
  color: var(--color-text);
  border: 0.125em solid var(--color-accent);
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
