.navLogo {
  width: 20%;
  height: 90%;
  background: var(--color-cat);
  border: 1px solid var(--color-accent);
}
.posAbsolute {
  position: absolute;
}
.navHome {
  top: 0.25em;
  left: 2.5%;
}
.navBookmark {
  top: 0.25em;
  left: 27.5%;
}
.navQuestion {
  top: 0.25em;
  left: 52.5%;
}
.navProfile {
  top: 0.25em;
  left: 77.5%;
}
